name: Barrani App on AWS
on:
  push:
    branches:
    - main
  
jobs:
  Build-App:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4 
      - name: Barrani CI/CD
        run:
         echo "We are learning about DevOps today"
      
